<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Cogmento CRM Application Test Automation Test Suite">


	<test name="Cogmento CRM App Test Cases">
		<classes>
			<class name="com.cogmento.automation.testcases.LoginPageTest"></class>
		</classes>
	</test>
</suite>